# OS
.DS_Store
Thumbs.db
desktop.ini

# Build
dist/
*.log

# Backups
*.tar.gz
backup-*/
BACKUP-*/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Dependências
node_modules/
package-lock.json

# Local Netlify folder
.netlify

# Nunca mais subir backups
*.backup
*.backup-*
*.bak
*.bak-*
*.old
1234
1234.pub
