services:
  - type: web
    name: n8n
    runtime: image
    repo: https://github.com/patricksonata13/Portifolio---Patrick-.git
    plan: free
    envVars:
      - key: N8N_BASIC_AUTH_ACTIVE
        value: true
      - key: N8N_BASIC_AUTH_USER
        value: patrick
      - key: N8N_BASIC_AUTH_PASSWORD
        value: cdd3001
      - key: N8N_HOST
        value: 0.0.0.0
      - key: N8N_PORT
        value: 5678
      - key: N8N_PROTOCOL
        value: https
      - key: NODE_ENV
        value: production
    disk:
      name: n8n-data
      mountPath: /home/node/.n8n
      sizeGB: 1
