body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    text-align: center;
}

#atributos {
    margin: 20px;
    background-color: #333;
    padding: 10px;
    color: white;
    border-radius: 8px;
}

button {
    margin: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#inimigo {
    background-color: #d32f2f;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    background-image: url('../../assets/images/inimigo.png');
    background-size: cover;
}

#atributos div {
    margin: 10px;
}

#game-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
