body { 
    background-color: #000; 
    color: #fff; 
    font-family: sans-serif; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0; 
}
nav { margin-bottom: 50px; }
nav a { 
    color: #c5a059; 
    text-decoration: none; 
    margin: 0 20px; 
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 2px;
}
h1 { font-size: 4rem; letter-spacing: -2px; }
