* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg-primary;
    color: $text-primary;
    font-family: $font-main;
    line-height: 1.6;
    padding: $spacing-md;
}
